body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background: linear-gradient(0deg, blue, green 40%, red);
}

.container {
    text-align: center;
}

#colorPicker {
    margin-bottom: 20px;
}

#colorBox {
    width: 150px;
    height: 150px;
    border: 2px solid black;
    margin: 0 auto;
}
